@import url("https://use.typekit.net/mvg7qnq.css");

:root {
  --grid: 40px;
  --backgroundColor: rgba(255, 255, 255, 1);
  --textColor: rgb(22, 22, 29);
  --secondaryColor: rgba(33, 33, 33, 0.6);
  --accentColor: rgb(1, 116, 209);
  --tertiaryColor: rgba(33, 33, 33, 0.1);
}

::selection {
  background-color: var(--accentColor);
}

body {
  width: 100vw;
  background-color: var(--backgroundColor);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-size: var(--grid) var(--grid);
  background-image: linear-gradient(
      to right,
      var(--tertiaryColor) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--tertiaryColor) 1px, transparent 1px);
}

.wrapper {
  padding: var(--grid);
  box-sizing: border-box;
  margin-top: calc(var(--grid) * 4);
}

h1 {
  width: 80%;
  margin: 0;
  font-size: calc(var(--grid) * 2);
  margin-top: calc(var(--grid) / 3.3);
  line-height: 1;
  color: var(--textColor);
  font-family: ff-meta-serif-web-pro, serif;
  font-weight: 600;
  font-style: normal;
  display: inline-block;
  min-height: calc(var(--grid) * 5);
}

h2 {
  width: 80%;
  margin: 0;
  margin-top: calc(var(--grid) * 2);
  line-height: 1.7;
  color: var(--textColor);
  font-family: ff-meta-serif-web-pro, serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  margin: 0;
  line-height: 2.15;
  color: var(--textColor);
  font-family: ff-meta-serif-web-pro, serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: var(--accentColor);
}

.detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: calc(var(--grid) * 4.05);
}

.button {
  width: var(--grid);
  height: var(--grid);
  vertical-align: middle;
  text-align: center;
  margin-left: var(--grid);
  margin-top: var(--grid);
  background-color: black;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  background-image: url(../img/refresh.svg);
  background-size: contain;
  transition: opacity 400ms ease;
  z-index: 1;
}

.button:hover {
  opacity: 0.8;
}

.button::after {
  content: "Shuffle";
  color: var(--accentColor);
  display: inline-block;
  margin-left: var(--grid);
  height: var(--grid);
  font-family: ff-meta-serif-web-pro, serif;
  font-weight: 600;
  font-style: normal;
  padding-left: 4px;
  margin-top: calc(var(--grid) * 0.23);
  animation-name: fadeIn;
  animation-duration: 10s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateY(calc(var(--grid) * 0.37));
  opacity: 0;
  z-index: -1;
}

@keyframes fadeIn {
  40% {
    transform: translateY(calc(var(--grid) * 0.37));
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --grid: 20px;
  }

  h1 {
    width: 100%;
    line-height: calc(var(--grid) * 3);
    margin-top: calc(var(--grid) * -1.2);
  }

  h2 {
    margin-top: calc(var(--grid) * 1.85);
    font-size: var(--grid);
    line-height: calc(var(--grid) * 2);
  }

  h3 {
    line-height: calc(var(--grid) * 2);
    font-size: calc(var(--grid) * 0.8);
  }

  .button {
    width: calc(var(--grid) * 2);
    height: calc(var(--grid) * 2);
  }

  .button::after {
    margin-left: calc(var(--grid) * 2);
  }

  .detail {
    margin-top: calc(var(--grid) * 4.1);
    margin-bottom: calc(var(--grid) * 3);
  }
}
